body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_960_720.jpg) bottom no-repeat;
    background-size: cover;
    
}

h1 {
    color: #e7da1b;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: rgb(233, 231, 216);
    padding: 50px 0 32px;
}

article {
    width: 1100px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);

}
h2::after {
    content: " New";
}

.new_1 {
    background-color: darkorchid;
    
}


.new_2 {
    background-color: dimgray;
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 500px;
    object-fit: contain;

}


footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}